__pycache__/BP.cpython-313.pyc
predictions.txt
__pycache__/BP2.cpython-313.pyc
__pycache__/BP3.cpython-313.pyc
bpf_predictions.txt
__pycache__/BP.cpython-39.pyc
ObesityDataSet_raw_and_data_sinthetic_processed.csv
ObesityDataSet_raw_and_data_sinthetic_updated.csv