__pycache__/BP.cpython-313.pyc
predictions.txt
__pycache__/BP2.cpython-313.pyc
__pycache__/BP3.cpython-313.pyc
bpf_predictions.txt
__pycache__/BP.cpython-39.pyc
LaTeX/deliverable.aux
LaTeX/deliverable.bbl
LaTeX/deliverable.bbl-SAVE-ERROR
LaTeX/deliverable.bcf
LaTeX/deliverable.fdb_latexmk
LaTeX/deliverable.fls
LaTeX/deliverable.log
LaTeX/deliverable.run.xml
LaTeX/deliverable.synctex.gz
LaTeX/deliverable.toc
